In [8]:
from entities import Constructor, Race, Calendar
import pandas as pd

df = pd.read_csv('thuisbasis.csv')
df

    Constructor      Country           City   latitude  longitude
0      Mercedes           UK       Brackley  52.021871  -1.146569
1       Ferrari        Italy      Maranello  44.533788  10.864266
2      Red Bull           UK  Milton keynes  52.008382  -0.692814
3       McLaren           UK         Woking  51.346050  -0.548347
4  Aston Martin           UK    Silverstone  52.077981  -1.028656
5        Alpine           UK        Enstone  51.920414  -1.390781
6          Haas           UK        Banbury  52.065707  -1.314202
7    AlphaTauri        Italy         Faenza  44.308217  11.864016
8    Alfa Romeo  Switzerland        Hinwill  47.308791   8.817493
9      Williams           UK          Grove  51.618496  -1.411982

In [9]:
AMERICA_BASE = (19.40593042607319,-99.09255011100402)
ASIA_BASE = (40.4093,49.8671)
constructors = []
for index, row in df.iterrows():
    bases = {'Europe': (row.latitude, row.longitude), 'America': AMERICA_BASE, 'Asia': ASIA_BASE}
    
    constructor = Constructor(row.Constructor, row.Country, row.City, bases)
    constructors.append(constructor)

In [10]:
constructors

[Mercedes: UK, Brackley (None km),
 Ferrari: Italy, Maranello (None km),
 Red Bull: UK, Milton keynes (None km),
 McLaren: UK, Woking (None km),
 Aston Martin: UK, Silverstone (None km),
 Alpine: UK, Enstone (None km),
 Haas: UK, Banbury (None km),
 AlphaTauri: Italy, Faenza (None km),
 Alfa Romeo: Switzerland, Hinwill (None km),
 Williams: UK, Grove (None km)]

In [11]:
with open('races2023.txt', 'r') as f:
    lines = f.readlines()

races = []
for line in lines:
    info = line.strip().split(',')
    race = Race(info[0], info[1], info[2], info[3], info[4])
    races.append(race)

races

[Bahrain (Sakhir) -> Europe,
 Saudi Arabia (Jeddah) -> Europe,
 Australia (Melbourne) -> Europe,
 Azerbaijan (Baku) -> Europe,
 United States (Miami) -> America,
 Italy (emilia romagna) -> Europe,
 Monaco (Monte carlo) -> Europe,
 Spain (Barcelona) -> Europe,
 Canada (Montreal) -> America,
 Austria (Knittefeld) -> Europe,
 Great Britain (Silverstone) -> Europe,
 Hungary (Budapest) -> Europe,
 Belgium (Spa) -> Europe,
 Netherlands (Zandvoort) -> Europe,
 Italy (Monza) -> Europe,
 Singapore () -> Europe,
 Japan (Suzuka) -> Europe,
 Qatar (Lusail) -> Europe,
 United States (Austin) -> America,
 Mexico (Mexico City) -> America,
 Brazil (São Paulo) -> America,
 United States (Las Vegas) -> America,
 United Arab Emirates (Abu Dhabi) -> Europe]

In [12]:
calendar = Calendar(races, constructors)
calendar

Calendar
	1. Bahrain (Sakhir) -> Europe
	2. Saudi Arabia (Jeddah) -> Europe
	3. Australia (Melbourne) -> Europe
	4. Azerbaijan (Baku) -> Europe
	5. United States (Miami) -> America
	6. Italy (emilia romagna) -> Europe
	7. Monaco (Monte carlo) -> Europe
	8. Spain (Barcelona) -> Europe
	9. Canada (Montreal) -> America
	10. Austria (Knittefeld) -> Europe
	11. Great Britain (Silverstone) -> Europe
	12. Hungary (Budapest) -> Europe
	13. Belgium (Spa) -> Europe
	14. Netherlands (Zandvoort) -> Europe
	15. Italy (Monza) -> Europe
	16. Singapore () -> Europe
	17. Japan (Suzuka) -> Europe
	18. Qatar (Lusail) -> Europe
	19. United States (Austin) -> America
	20. Mexico (Mexico City) -> America
	21. Brazil (São Paulo) -> America
	22. United States (Las Vegas) -> America
	23. United Arab Emirates (Abu Dhabi) -> Europe
total distance: 1168633.3652293887 km

Mercedes: UK, Brackley (119072.59511331898 km)
Ferrari: Italy, Maranello (111544.57898400186 km)
Red Bull: UK, Milton keynes (118854.58306199474 km)
McLaren: UK, Woking (118588.23515621586 km)
Aston Martin: UK, Silverstone (119033.73810971866 km)
Alpine: UK, Enstone (119158.69969372578 km)
Haas: UK, Banbury (119164.9955952279 km)
AlphaTauri: Italy, Faenza (111115.47311454915 km)
Alfa Romeo: Switzerland, Hinwill (113018.36690819898 km)
Williams: UK, Grove (119082.09949243684 km)

In [13]:
PERFECT_INDEXES = [21, 5, 19, 20, 22, 9, 11, 14, 13, 15, 6, 7, 8, 10, 12, 4, 1, 18, 23, 2, 16, 17, 3]
calendar.reorganise_races(PERFECT_INDEXES)

[21. Brazil (São Paulo) -> America,
 5. United States (Miami) -> America,
 19. United States (Austin) -> America,
 20. Mexico (Mexico City) -> America,
 22. United States (Las Vegas) -> America,
 9. Canada (Montreal) -> America,
 11. Great Britain (Silverstone) -> Europe,
 14. Netherlands (Zandvoort) -> Europe,
 13. Belgium (Spa) -> Europe,
 15. Italy (Monza) -> Europe,
 6. Italy (emilia romagna) -> Europe,
 7. Monaco (Monte carlo) -> Europe,
 8. Spain (Barcelona) -> Europe,
 10. Austria (Knittefeld) -> Europe,
 12. Hungary (Budapest) -> Europe,
 4. Azerbaijan (Baku) -> Europe,
 1. Bahrain (Sakhir) -> Europe,
 18. Qatar (Lusail) -> Europe,
 23. United Arab Emirates (Abu Dhabi) -> Europe,
 2. Saudi Arabia (Jeddah) -> Europe,
 16. Singapore () -> Europe,
 17. Japan (Suzuka) -> Europe,
 3. Australia (Melbourne) -> Europe]

In [14]:
calendar

Calendar
	21. Brazil (São Paulo) -> America
	5. United States (Miami) -> America
	19. United States (Austin) -> America
	20. Mexico (Mexico City) -> America
	22. United States (Las Vegas) -> America
	9. Canada (Montreal) -> America
	11. Great Britain (Silverstone) -> Europe
	14. Netherlands (Zandvoort) -> Europe
	13. Belgium (Spa) -> Europe
	15. Italy (Monza) -> Europe
	6. Italy (emilia romagna) -> Europe
	7. Monaco (Monte carlo) -> Europe
	8. Spain (Barcelona) -> Europe
	10. Austria (Knittefeld) -> Europe
	12. Hungary (Budapest) -> Europe
	4. Azerbaijan (Baku) -> Europe
	1. Bahrain (Sakhir) -> Europe
	18. Qatar (Lusail) -> Europe
	23. United Arab Emirates (Abu Dhabi) -> Europe
	2. Saudi Arabia (Jeddah) -> Europe
	16. Singapore () -> Europe
	17. Japan (Suzuka) -> Europe
	3. Australia (Melbourne) -> Europe
total distance: 743714.473421461 km

Mercedes: UK, Brackley (74251.14093909452 km)
Ferrari: Italy, Maranello (74654.89326239034 km)
Red Bull: UK, Milton keynes (74234.50654595906 km)
McLaren: UK, Woking (74310.07594777548 km)
Aston Martin: UK, Silverstone (74231.65690054071 km)
Alpine: UK, Enstone (74290.81319434781 km)
Haas: UK, Banbury (74270.27118474548 km)
AlphaTauri: Italy, Faenza (74645.67366215253 km)
Alfa Romeo: Switzerland, Hinwill (74496.27904259553 km)
Williams: UK, Grove (74329.16274185957 km)

In [13]:
with open('optimal_calendar2023.txt', 'w') as f:
    f.write(str(calendar))

In [15]:
with open('races2023_3bases.txt', 'r') as f:
    lines = f.readlines()

races = []
for line in lines:
    info = line.strip().split(',')
    race = Race(info[0], info[1], info[2], info[3], info[4])
    races.append(race)

races

[Bahrain (Sakhir) -> Asia,
 Saudi Arabia (Jeddah) -> Asia,
 Australia (Melbourne) -> Asia,
 Azerbaijan (Baku) -> Asia,
 United States (Miami) -> America,
 Italy (emilia romagna) -> Europe,
 Monaco (Monte carlo) -> Europe,
 Spain (Barcelona) -> Europe,
 Canada (Montreal) -> America,
 Austria (Knittefeld) -> Europe,
 Great Britain (Silverstone) -> Europe,
 Hungary (Budapest) -> Europe,
 Belgium (Spa) -> Europe,
 Netherlands (Zandvoort) -> Europe,
 Italy (Monza) -> Europe,
 Singapore () -> Asia,
 Japan (Suzuka) -> Asia,
 Qatar (Lusail) -> Asia,
 United States (Austin) -> America,
 Mexico (Mexico City) -> America,
 Brazil (SÃƒÆ’Ã‚Â£o Paulo) -> America,
 United States (Las Vegas) -> America,
 United Arab Emirates (Abu Dhabi) -> Asia]

In [16]:
calendar = Calendar(races, constructors)
calendar

Calendar
	1. Bahrain (Sakhir) -> Asia
	2. Saudi Arabia (Jeddah) -> Asia
	3. Australia (Melbourne) -> Asia
	4. Azerbaijan (Baku) -> Asia
	5. United States (Miami) -> America
	6. Italy (emilia romagna) -> Europe
	7. Monaco (Monte carlo) -> Europe
	8. Spain (Barcelona) -> Europe
	9. Canada (Montreal) -> America
	10. Austria (Knittefeld) -> Europe
	11. Great Britain (Silverstone) -> Europe
	12. Hungary (Budapest) -> Europe
	13. Belgium (Spa) -> Europe
	14. Netherlands (Zandvoort) -> Europe
	15. Italy (Monza) -> Europe
	16. Singapore () -> Asia
	17. Japan (Suzuka) -> Asia
	18. Qatar (Lusail) -> Asia
	19. United States (Austin) -> America
	20. Mexico (Mexico City) -> America
	21. Brazil (SÃƒÆ’Ã‚Â£o Paulo) -> America
	22. United States (Las Vegas) -> America
	23. United Arab Emirates (Abu Dhabi) -> Asia
total distance: 970609.3604086584 km

Mercedes: UK, Brackley (98044.11351899212 km)
Ferrari: Italy, Maranello (94742.4682871466 km)
Red Bull: UK, Milton keynes (97955.26757884896 km)
McLaren: UK, Woking (97743.76675096495 km)
Aston Martin: UK, Silverstone (98037.60599198363 km)
Alpine: UK, Enstone (98062.8416702447 km)
Haas: UK, Banbury (98088.15605522135 km)
AlphaTauri: Italy, Faenza (94801.41294410545 km)
Alfa Romeo: Switzerland, Hinwill (95148.09600166237 km)
Williams: UK, Grove (97985.63160948825 km)

In [17]:
PERFECT_INDEXES = [21, 5, 19, 20, 22, 9, 11, 14, 13, 15, 6, 7, 8, 10, 12, 4, 1, 18, 23, 2, 16, 17, 3]
calendar.reorganise_races(PERFECT_INDEXES)

[21. Brazil (SÃƒÆ’Ã‚Â£o Paulo) -> America,
 5. United States (Miami) -> America,
 19. United States (Austin) -> America,
 20. Mexico (Mexico City) -> America,
 22. United States (Las Vegas) -> America,
 9. Canada (Montreal) -> America,
 11. Great Britain (Silverstone) -> Europe,
 14. Netherlands (Zandvoort) -> Europe,
 13. Belgium (Spa) -> Europe,
 15. Italy (Monza) -> Europe,
 6. Italy (emilia romagna) -> Europe,
 7. Monaco (Monte carlo) -> Europe,
 8. Spain (Barcelona) -> Europe,
 10. Austria (Knittefeld) -> Europe,
 12. Hungary (Budapest) -> Europe,
 4. Azerbaijan (Baku) -> Asia,
 1. Bahrain (Sakhir) -> Asia,
 18. Qatar (Lusail) -> Asia,
 23. United Arab Emirates (Abu Dhabi) -> Asia,
 2. Saudi Arabia (Jeddah) -> Asia,
 16. Singapore () -> Asia,
 17. Japan (Suzuka) -> Asia,
 3. Australia (Melbourne) -> Asia]

In [18]:
calendar

Calendar
	21. Brazil (SÃƒÆ’Ã‚Â£o Paulo) -> America
	5. United States (Miami) -> America
	19. United States (Austin) -> America
	20. Mexico (Mexico City) -> America
	22. United States (Las Vegas) -> America
	9. Canada (Montreal) -> America
	11. Great Britain (Silverstone) -> Europe
	14. Netherlands (Zandvoort) -> Europe
	13. Belgium (Spa) -> Europe
	15. Italy (Monza) -> Europe
	6. Italy (emilia romagna) -> Europe
	7. Monaco (Monte carlo) -> Europe
	8. Spain (Barcelona) -> Europe
	10. Austria (Knittefeld) -> Europe
	12. Hungary (Budapest) -> Europe
	4. Azerbaijan (Baku) -> Asia
	1. Bahrain (Sakhir) -> Asia
	18. Qatar (Lusail) -> Asia
	23. United Arab Emirates (Abu Dhabi) -> Asia
	2. Saudi Arabia (Jeddah) -> Asia
	16. Singapore () -> Asia
	17. Japan (Suzuka) -> Asia
	3. Australia (Melbourne) -> Asia
total distance: 693582.7684607265 km

Mercedes: UK, Brackley (69256.03167369797 km)
Ferrari: Italy, Maranello (69647.69473486752 km)
Red Bull: UK, Milton keynes (69237.74981702057 km)
McLaren: UK, Woking (69279.32382902263 km)
Aston Martin: UK, Silverstone (69239.38132752338 km)
Alpine: UK, Enstone (69290.77324934589 km)
Haas: UK, Banbury (69277.93777967527 km)
AlphaTauri: Italy, Faenza (69666.74609137658 km)
Alfa Romeo: Switzerland, Hinwill (69373.59410777551 km)
Williams: UK, Grove (69313.53585042115 km)

In [19]:
with open('optimal_calendar2023.txt', 'w') as f:
    f.write(str(calendar))